In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from matplotlib import rcParams

rcParams['figure.figsize'] = 12, 4
rcParams['lines.linewidth'] = 3
rcParams['xtick.labelsize'] = 'x-large'
rcParams['ytick.labelsize'] = 'x-large'

In [3]:
df = pd.read_csv('marketing_campaign_data.csv')

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
df.sample(5)

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntCoke,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
1814,1814,10177,1954,S1,Cerai,72071000.0,0,1,14-02-2013,4,531000,69000,300000,150000,138000,150000,3,5,4,8,2,0,0,0,0,0,0,3,11,0
862,862,9553,1987,S1,Menikah,7500000.0,0,0,09-01-2013,94,0,2000,3000,4000,1000,5000,1,0,0,3,6,0,0,0,0,0,0,3,11,0
1946,1946,10676,1982,S1,Menikah,63211000.0,0,0,02-11-2012,3,145000,193000,459000,205000,26000,145000,2,3,8,7,2,0,0,0,0,0,0,3,11,1
136,136,5342,1976,SMA,Cerai,9548000.0,1,0,08-08-2012,31,0,1000,3000,10000,6000,9000,2,1,0,3,8,0,0,0,0,0,0,3,11,0
446,446,5954,1972,S2,Cerai,42618000.0,1,0,09-10-2013,92,76000,14000,74000,13000,5000,10000,2,5,0,4,8,0,0,0,0,0,0,3,11,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2240 non-null   int64
 1   ID                   2240 non-null   int64
 2   Year_Birth           2240 non-null   int64
 3   Education            2240 non-null   object
 4   Marital_Status       2240 non-null   object
 5   Income               2216 non-null   float64
 6   Kidhome              2240 non-null   int64
 7   Teenhome             2240 non-null   int64
 8   Dt_Customer          2240 non-null   object
 9   Recency              2240 non-null   int64
 10  MntCoke              2240 non-null   int64
 11  MntFruits            2240 non-null   int64
 12  MntMeatProducts      2240 non-null   int64
 13  MntFishProducts      2240 non-null   int64
 14  MntSweetProducts     2240 non-null   int64
 15  MntGoldProds         2240 non-null   int64
 16  NumDealsPurchases    2240 non-null   int64
 17  NumWebPurchases      2240 non-null   int64
 18  NumCatalogPurchases  2240 non-null   int64
 19  NumStorePurchases    2240 non-null   int64
 20  NumWebVisitsMonth    2240 non-null   int64
 21  AcceptedCmp3         2240 non-null   int64
 22  AcceptedCmp4         2240 non-null   int64
 23  AcceptedCmp5         2240 non-null   int64
 24  AcceptedCmp1         2240 non-null   int64
 25  AcceptedCmp2         2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Z_CostContact        2240 non-null   int64
 28  Z_Revenue            2240 non-null   int64
 29  Response             2240 non-null   int64
dtypes: float64(1), int64(26), object(3)
memory usage: 525.1+ KB

In [7]:
df.isna().sum()

Unnamed: 0              0
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntCoke                 0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [8]:
perc_income_null = 100*(df['Income'].isna().sum()/len(df))

print('Nilai Null pada kolom Income adalah', round(perc_income_null, 2), '%')

Nilai Null pada kolom Income adalah 1.07 %

## HAPUS NILAI NULL

In [9]:
# Hapus baris yang terdapat nilai Null pada kolom Income
df = df.dropna(axis = 0)

In [10]:
perc_income_null = 100*(df['Income'].isna().sum()/len(df))

print('Nilai Null pada kolom Income adalah', round(perc_income_null, 2), '%')

Nilai Null pada kolom Income adalah 0.0 %

In [11]:
len(df)

2216

## MENGGANTI TIPE DATA

In [12]:
# Karena kolom di asumsikan sebagai Coce, maka tipe di ubah menjadi Object/String
df['Unnamed: 0'] = df['Unnamed: 0'].astype('object')
df['ID'] = df['ID'].astype('object')

## MENANGANI OUTLIERS

In [13]:
cats = ['Unnamed: 0', 'ID', 'Education', 'Marital_Status', 'Dt_Customer']
nums = ['Year_Birth', 'Income', 'MntCoke', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumWebVisitsMonth']

In [14]:
from scipy import stats

In [15]:
print(f'Jumlah baris sebelum memfilter outlier: {len(df)}')

filtered_entries = np.array([True] * len(df))

for col in nums:
    zscore = abs(stats.zscore(df[col])) # hitung absolute z-scorenya
    filtered_entries = (zscore < 3) & filtered_entries # keep yang kurang dari 3 absolute z-scorenya
    
df = df[filtered_entries] # filter, cuma ambil yang z-scorenya dibawah 3

print(f'Jumlah baris setelah memfilter outlier: {len(df)}')

Jumlah baris sebelum memfilter outlier: 2216
Jumlah baris setelah memfilter outlier: 1953

In [16]:
data_hilang = round(100*((2216-1953)/2216), 2)

print('Presentase kehilangan data setelah penghapusan outliers sebesar', data_hilang, '%')

Presentase kehilangan data setelah penghapusan outliers sebesar 11.87 %

## PRESENTASE PENERIMA CAMPAIGN

In [17]:
perc_AcCmp1 = round(100*(len(df[df.AcceptedCmp1 == 1])/len(df)), 2)
perc_AcCmp2 = round(100*(len(df[df.AcceptedCmp2 == 1])/len(df)), 2)
perc_AcCmp3 = round(100*(len(df[df.AcceptedCmp3 == 1])/len(df)), 2)
perc_AcCmp4 = round(100*(len(df[df.AcceptedCmp4 == 1])/len(df)), 2)
perc_AcCmp5 = round(100*(len(df[df.AcceptedCmp5 == 1])/len(df)), 2)
perc_Response = round(100*(len(df[df.Response == 1])/len(df)), 2)

print('Presentase Customer yang menerima tawaran Campaign')
print('Campaign 1 :', perc_AcCmp1, '%')
print('Campaign 2 :', perc_AcCmp2, '%')
print('Campaign 3 :', perc_AcCmp3, '%')
print('Campaign 4 :', perc_AcCmp4, '%')
print('Campaign 5 :', perc_AcCmp5, '%')
print('Campaign Terakhir :', perc_Response, '%')

Presentase Customer yang menerima tawaran Campaign
Campaign 1 : 4.4 %
Campaign 2 : 1.18 %
Campaign 3 : 7.01 %
Campaign 4 : 7.12 %
Campaign 5 : 5.53 %
Campaign Terakhir : 13.36 %

In [18]:
perc_kid = round(100*(len(df[df.Kidhome == 0])/len(df)), 2)
perc_teen = round(100*(len(df[df.Teenhome == 0])/len(df)), 2)

print('Presentase yang tidak memiliki anak kecil :', perc_kid, '%')
print('Presentase yang tidak memiliki anak remaja :', perc_teen, '%')

Presentase yang tidak memiliki anak kecil : 54.17 %
Presentase yang tidak memiliki anak remaja : 49.46 %

## MENAMBAH KOLOM

### MENAMBAHKAN KOLOM CONVERSION RATES

In [86]:
df['Conversion_Rate'] = df['Response'] / df['NumWebVisitsMonth']

### MENAMBAHKAN KOLOM JUMLAH ANAK

In [91]:
df['Jumlah_Anak'] = df['Kidhome'] + df['Teenhome']

### MENAMBAHKAN KOLOM UMUR PADA SAAT REGISTRASI

In [19]:
df['Registration_Year'] = df['Dt_Customer'].str[-4:]

In [21]:
df['Registration_Year'] = df['Registration_Year'].astype(int)

In [22]:
df['Umur_Saat_Registrasi'] = df['Registration_Year'] - df['Year_Birth']

### MENAMBAHKAN KOLOM KLASIFIKASI UMUR

In [24]:
df['klasifikasi_umur'] = df['Umur_Saat_Registrasi'].apply(lambda x: 'Remaja' if x < 26 else ('Dewasa' if x < 46 else 'Lansia'))

### MENAMBAHKAN KOLOM TOTAL PEMBELIAN

In [93]:
df['Total_Pembelian'] = df['NumDealsPurchases'] + df['NumWebPurchases'] + df['NumCatalogPurchases'] + df['NumStorePurchases']

### MENAMBAHKAN KOLOM TOTAL CAMPAIGN DIAMBIL

In [95]:
df['Total_Campaign'] = df['AcceptedCmp1'] + df['AcceptedCmp2'] + df['AcceptedCmp3'] + df['AcceptedCmp4'] + df['AcceptedCmp5']

### MENAMBAHKAN KOLOM TOTAL PENGELUARAN

In [97]:
df['Total_Pengeluaran'] = df['MntCoke'] + df['MntFruits'] + df['MntMeatProducts'] + df['MntFishProducts'] + df['MntSweetProducts'] + df['MntGoldProds']

In [98]:
df.sample(5)

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntCoke,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Registration_Year,Umur_Saat_Registrasi,klasifikasi_umur,Conversion_Rate,Jumlah_Anak,Total_Pembelian,Total_Campaign,Total_Pengeluaran
1655,1655,1834,1978,S2,Lajang,35544000.0,1,0,08-03-2014,77,30000,5000,23000,4000,1000,4000,1,2,0,3,7,0,0,0,0,0,0,3,11,0,2014,36,Dewasa,0.0,1,6,0,67000
1585,1585,1626,1973,S3,Cerai,35860000.0,1,1,19-05-2014,37,15000,0,8000,4000,2000,20000,2,1,1,2,5,1,0,0,0,0,0,3,11,1,2014,41,Dewasa,0.2,2,6,1,49000
1825,1825,78,1969,S1,Menikah,25293000.0,1,0,15-09-2013,51,15000,0,11000,0,2000,9000,1,1,1,2,8,0,0,0,0,0,0,3,11,0,2013,44,Dewasa,0.0,1,5,0,37000
72,72,6312,1959,S1,Menikah,65031000.0,0,1,17-03-2013,29,258000,107000,291000,84000,37000,86000,4,10,3,13,7,0,0,0,0,0,0,3,11,0,2013,54,Lansia,0.0,1,30,0,863000
1642,1642,6575,1981,S1,Bertunangan,56386000.0,1,1,27-10-2012,51,230000,48000,214000,13000,32000,75000,8,9,1,7,9,0,0,0,0,0,0,3,11,0,2012,31,Dewasa,0.0,2,25,0,612000

In [ ]:
df.to_csv('marketing_campaign_data_lengkap.csv', index = False)